body { margin:5px; padding:5px; }
    
footer { 
    margin: 5px;
    padding: 5px;
    }

h1 {
    
    
}

header {
    color: white;
    background-color: #2A6DFC;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
}

#weather {
    text-align: right;
    font-family: "HelveticaNeue-Thin";
    font-size: 20px;
}

.bg { 
    /* The image used */
    background-image: url(images/JustEat-new-dublinbikes-commercial-partner-1.jpg);

    /* Half height */
    height: 450px; 

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.jumbotron {
    background-color: #2A6DFC;
    color: #ffffff;
}

.dropdown {
    align-content: left;
    color: #4863A0;
}

#StationIName {
    background-color: #2A6DFC;
    height: 50px;
    text-align: center;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #4863A0;
    cursor: pointer;
}


.btn-primary:hover{
    background-color: #4863A0;
}

.btn-primary {
    background-color: #2A6DFC;
}

#map {
    border: 1px solid #848482;
}

a:link, a:visited {
    color: #151B54;
}
    
a:hover {
    color: #3BB9FF;
    text-decoration: none;
}

a:active {
    color: #151B54;
}

.bikesimg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.heading-logo {
        z-index: -1;
}

.box1 {
    border: 3px solid #848482;
    margin-left: 5px;
    padding: 10px;
}

.box2 {
    width
}

.banner {
    margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  padding: 5px;
    grid-gap: 5px;
}
.grid-item {
  background-color: #F3F2F2;
  padding: 0;
  text-align: center;
}

.table {
    border: 1px solid #848482;
    background-color: #F3F2F2;
}