body { margin:5px; padding:5px; }

.jumbotron {
    background-color: #2A6DFC;
    color: #ffffff;
}

.dropdown {
    align-content: left;
}

.btn-primary hover{
    background-color: #4863A0;
}

.btn-primary {
    background-color: #2A6DFC;
}

#map {
    position: absolute;
    float: right;
    right: 5px;
    border: 5px solid #4863A0;
}

