body { margin:5px; padding:5px; }
    
footer { 
    margin: 5px;
    padding: 5px;
    }

.jumbotron {
    background-color: #2A6DFC;
    color: #ffffff;
}

.dropdown {
    align-content: left;
}

.btn-primary:hover{
    background-color: #4863A0;
}

.btn-primary {
    background-color: #2A6DFC;
}

#map {
    border: 5px solid #4863A0;
}

    a {
        color: white;
    }
    
    a:hover {
        color: #3BB9FF;
        text-decoration: none;
    }