<!DOCTYPE html>
<html lang="en">
  <head>
      
                                    <!--Basics -->
  <title>Dublin Bikes</title>
    <meta charset="utf-8">
                            <!-- To make mobile adaptable -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
                                        <!-- Bootstrap -->
                            <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


                                    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


                    <!--Links to our javascript functions and CSS styleshtet-->

<link rel="stylesheet" type="text/css" href="..//static/styles.css">
<script src="..//static/js/my_jquery_functions.js"></script>
      
<!-- I think this is the same as the bootstrap link above. Nothing happens when removed. -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
 </head>
  <body>
                    <!--Header containing Name, photo and weather info --->  
<div class="bg">
    <header>
        <h1 class = "display-4">Dublin Bikes </h1>
        <div id ="weather"></div>
    </header>
</div>
      
      <br>
        
                        <!--Row contains dropdown, info box and map -->  
      
 <div class = row>
   <div class = 'col-sm-6'>
        <div class = "dropdown"><select id="StationIName"><option value="">Select a Station</option></select></div>
       
        <div id = "infoBox", style="width:100%;height:200px;"><p> It is 20 times cheaper to maintain a bicycle than a car</p></div>
       
    </div>
  
     <!--<div class='col-sm-6'><button id="findSataionsNearby">Find stations near me</button></div> -->
     <div class = 'col-sm-6'>
        <div><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
        Switch Map View
        </button>
         </div>
         <div id="map", style="width:100%;height:400px;"></div>
     </div>
</div>
      
      
      <!-- Row containing charts -->
      <div class = row>
          <div class = 'col-sm-6'>
          <canvas id="myChart"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        
      <script>  
          var jsonfile = {
   "jsonarray": [{
      "day": "Monday",
      "average_avail": 5
   }, {
      "day": "Tuesday",
      "average_avail": 14
   }, {
       "day": "Wednesday",
      "average_avail": 10
   }, {
       "day": "Thursday",
      "average_avail": 30
   }, {
       "day": "Friday",
      "average_avail": 8
   }, {
       "day": "Saturday",
      "average_avail": 0
   }, {
       "day": "Sunday",
      "average_avail": 0
   }]
};

var labels = jsonfile.jsonarray.map(function(e) {
   return e.day;
});
var data = jsonfile.jsonarray.map(function(e) {
   return e.average_avail;
});;
          
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: labels,
        datasets: [{
            label: "My First dataset",
            backgroundColor: 'rgba(42, 109, 252, 0.2)',
            borderColor: 'rgb(3, 70, 214)',
            data: data
        }]
    },

    // Configuration options go here
    options: {}
});
        </script>
          </div>
      </div>
      
                                    <!--Row containing Journey Planner -->
      <div class = row>
          <div class= 'col-sm-12'>
          <header><div id="directionDropdown" style="width:100%;height:200px;" margin-top=200px;>
            <h1 class = "display-4"> Plan your journey:</h1>
    <b>Start: </b>
    <select id="start">
      <option value="n">Select a Station</option>
    </select>
            <br>
    <b>End:  </b>
    <select id="end">
      <option value="">Select a Station</option>
    </select>
      </div>
            </header>
      </div>
          </div>
      
      
      <div class = row>
          <div class="col-sm-6">
               <div id="direction-panel" style="width:100%;height:350px;"></div>
          </div>
          <div class="col-sm-6"> <div id="elevationChartName"></div> <script>// Load the Visualization API and the columnchart package.
google.charts.load('visualization', '1', {packages: ['columnchart']});</script>
      <div id="elevation_chart"></div></div>
      </div>
      
      
      
      
      
      
                                    <!--Row containing Twitter Feed  -->  
<div class = row>
    <div class='col-sm-6'>
        
    </div>
    

    <div class="col-sm-6">
        <div class="twitter">
            <h4>Keep up to date with the latest weather news from Met Eireann</h4>
            <a class="twitter-timeline" data-height="415" data-width="500" href="https://twitter.com/MetEireann?ref_src=twsrc%5Etfw">Tweets by MetEireann</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>      
</div>
      
                            <!-- Row cotaining links to websites -->    
<div class=row>
    <div class="col-sm-12">
    <div class="grid-container">
    <div class="grid-item"><img src="..//static/images/Opening-Hours-JEDB_visuel_city.jpg" width=100% height = 150><br><br>Station Opening Times</div>
              
    <div class="grid-item"><a href = "https://www.leapcard.ie/en/NavigationPages/LoginSelection.aspx"><img src="..//static/images/Screen%20Shot%202018-04-09%20at%2017.27.19.png" width=100% height=150><br><br>Top up your Leap Card here!</a></div>
              
    <div class="grid-item"><a href = "http://www.dublinbikes.ie/Subscription/Annual-Card2/Annual-Card-Holder"><img src="..//static/images/Screen%20Shot%202018-04-09%20at%2016.52.54.png" width=100% height=150><br><br>Subscribe for an Annual Card with Dublin Bikes for just €25 a year!</a></div>
              
    <div class="grid-item"><a href = "http://www.rsa.ie/RSA/Road-Safety/Campaigns/Current-road-safety-campaigns/Cycle-Smart-Cycle-Safe/"><img src="..//static/images/405166839.jpg" width=100% height="150"><br><br><p>Check out the RSA for some tips on keeping safe on your bike in the city</p></a></div>
              
    <div class="grid-item"><a href = "https://www.just-eat.ie/"><img src="..//static/images/Just-Eat-new-dublinbikes-commercial-partner-1.jpg" width=100% height="150"><br><br><p>Brought to you by Just Eat</p></a></div>           
        
    </div>
    </div>
</div>
    
    
                                            <!-- Modal -->
      
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
                                        <!-- Modal content-->
        
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">I'm want to:</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="bikes" data-dismiss="modal">Rent a bike </button><img src="..//static/images/dublin-bikes2.png" width=47% height="130">
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="stands">Return a bike</button><img src="..//static/images/Stands_visuel_listitem.png" width=45% height="150">
        </div>
      </div>
    </div>
  </div>
          
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1EwRxWN3fLygyJu8XtDGt3aQAGIEZhTs&libraries=places"> </script>
      
      

      
                                    <!-- Footer -->
<footer class='jumbotron'>
    <div class = row>
        <div class="col-sm-6">
            <p>Created by Sophie Heseltine, Rosanna Hanly and Eimear Galligan</p>
            <p>Data supplied by <a href="https://developer.jcdecaux.com/#/home">JCDecaux</a></p>
            <a href="http://www.dublinbikes.ie/">Dublin Bikes Official Website</a>  
        </div>
        
        <div class="col-sm-6">
            <br><img src = "..//static/images/dcc.png" width=300px>
            <img src="..//static/images/4311-2285ba46721a961d5545d0bb3400a588.png" width=130px height=150px>

        </div>
    </div>
</footer> 
    
    
    </body>
</html>