<!DOCTYPE html>
<html lang="en">
  <head>

      
  <!--Basics -->
  <title>Dublin Bikes</title>
    <meta charset="utf-8">
    <!-- To make mobile adaptable -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="..//static/styles.css">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
   	       
<script src="..//static/js/my_jquery_functions.js"></script> 
        
  </head>
  <body>
      
      <div class="jumbotron">
          <header><h1 class = "display-4">Dublin Bikes</h1></header></div>
          
  <div class = row>
   <div class = 'col-sm-6'>
  <div class = "dropdown">
  <button type="button" class="btn btn-primary" data-toggle="dropdown">
      Select a Station
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Station 1</a>
      <a class="dropdown-item" href="#">Station 2</a>
      <a class="dropdown-item" href="#">Station 3</a>
    </div>
  </div>
       <div id = "infoBox", style="width:100%;height:400px;"></div>
  </div> 
    <div class = 'col-sm-6'>
        <div id="map", style="width:100%;height:400px;"></div>
      
      
      </div>
          </div> 
      
      <div class="row">
      <div class="col-sm-6">
          <img src="..//static/images/JCD_Logo.jpg">
          </div>
          
    <div class="col-sm-6">
          <div class="twitter">
        <h4>Keep up to date with the latest weather news from Met Eireann</h4>
    <a class="twitter-timeline" data-height="415" data-width="500" href="https://twitter.com/MetEireann?ref_src=twsrc%5Etfw">Tweets by MetEireann</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
          </div>      
      </div>
          
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1EwRxWN3fLygyJu8XtDGt3aQAGIEZhTs&callback=initMap"> </script> 

  </body>
    
    
<footer class='jumbotron'>
    <div class="col-sm-6">
    <p>Created by Sophie Heseltine, Rosanna Hanly and Eimear Galligan</p>
    </div>
    <div class="col-sm-6">
        <p>Useful Links</p>
    <a href="http://www.dublinbikes.ie/">Dublin Bikes Official Website</a>
    <a href=""></a>
    </div>
    
    </footer>    
</html>